html {
  height: 100%;
}

body {
  font-family: 'Monoton', cursive;
  font-size: 9vw;
  background-size: 130px 100%;
  background-image: repeating-linear-gradient(-55deg, white, white 50%, #111 50%, #000);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

h1 {
  font-weight: normal;
  width: 100%;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 130px 100%;
  background-image: repeating-linear-gradient(-55deg, #371859, #100821 50%, white 50%, white);
}